<div class="container">
  <div class="heading text-center"><h1>Breath Guide</h1></div>

  <div class="breath-indicator">
    <div class="circle-container" [ngClass]="handleSize()">
      <div class="circle"></div>

      <p class="breathIndicatorText">Round {{ rounds }}: {{ breathText }}</p>

      <div class="pointer-container">
        <div class="pointer"></div>
      </div>

      <div class="gradient-circle" [ngClass]="handleColor()"></div>
    </div>
  </div>
  <div class="tip">
    <h4><i>Hint: Try do at least 3 rounds per session</i></h4>
  </div>
</div>
