* {
  box-sizing: border-box;
}

body {
  background-color: rgba(25, 25, 25, 1);
  color: #e8e9ed;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.breath-indicator {
  margin: 0 auto;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 280px;
  width: 280px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: rgba(25, 25, 25, 1);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes exhale {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #aeadf0, 0 0 40px #aeadf0,
      0 0 50px #aeadf0, 0 0 60px #aeadf0, 0 0 70px #aeadf0;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #c2c8ff, 0 0 40px #c2c8ff,
      0 0 50px #c2c8ff, 0 0 60px #c2c8ff, 0 0 70px #c2c8ff, 0 0 80px #c2c8ff;
  }
}

@keyframes inhale {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #05a8aa, 0 0 40px #05a8aa,
      0 0 50px #05a8aa, 0 0 60px #05a8aa, 0 0 70px #05a8aa;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #059c9e, 0 0 40px #059c9e,
      0 0 50px #059c9e, 0 0 60px #059c9e, 0 0 70px #059c9e, 0 0 80px #059c9e;
  }
}

.gradient-circle {
  height: 300px;
  width: 300px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.breathIndicatorText {
  color: white;
  z-index: 100;
  transition: opacity 0.5s linear;
}

.hold-animation {
  animation: hold 1s ease-in-out infinite alternate;
}

.inhale-animation {
  animation: inhale 1s ease-in-out infinite alternate;
}

.exhale-animation {
  animation: exhale 1s ease-in-out infinite alternate;
}

@keyframes hold {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff5666, 0 0 40px #ff5666,
      0 0 50px #ff5666, 0 0 60px #ff5666, 0 0 70px #ff5666;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff475a, 0 0 40px #ff475a,
      0 0 50px #ff475a, 0 0 60px #ff475a, 0 0 70px #ff475a, 0 0 80px #ff475a;
  }
}

.pointer {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
  animation: spin 19s linear infinite;
  background-color: #e8e9ed;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 19s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle-container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

.circle-container.shrink {
  animation: shrink 8s linear forwards;
}
.tip {
  margin-top: 10em;
}

@keyframes shrink {
  from {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

.heading {
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 10em;
}
